@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  background: #15bdfb;
}
::-webkit-scrollbar-thumb {
  background: #2987e4;
}
