@media (max-width: 3000px) {
  .eqLMWy {
    width: 80% !important;
    margin: 20px 0;
    display: flex !important;
  }
  .gjilcE {
    width: 80% !important;
    margin: 0 auto !important;
  }

  .jvctCF {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .eqLMWy {
    display: none !important;
  }
  .jvctCF {
    width: 40% !important;
    margin: 20px 0;
    display: flex !important;
  }
  .ant-col-sm-24 {
    font-size: 10px;
    align-items: center !important;
    padding-left: 0 !important;
  }
  .dwwJXh {
    line-height: 15px !important;
  }
  .jepXzR {
    height: 500px !important;
  }
  .ant-col .ant-col-sm-24 .ant-col-md-8 {
    margin-top: 0 !important;
  }
  .gjilcE {
    width: 100% !important;
    margin-top: 10px !important;
  }
}

@media (max-width: 400px) {
  .jvctCF {
    width: 80% !important;
    margin: 20px 0;
  }
}
